* {
    box-sizing: border-box;
}

:host {
    --size: 400px;
    // 
    display: block;
    padding: 2px;
    width: var(--size);
    height: var(--size);
}

main {
    display: block;
    width: var(--size);
    height: var(--size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    canvas {
        width: 90%;
        display: none;
        border-radius: 20px;
    }

    select {
        flex: none;
        width: 90%;
        font-size: 2em;
        text-align: center;
    }

    &.initialized {
        canvas {
            display: block;
        }

        select {
            display: none;
        }
    }
}