* {
    box-sizing: border-box;
}

:host {
    display: block;
    background: red;
    padding: 2px;
    width: 70vmin;
    height: 70vmin;
}

main {
    display: block;
    background: black;
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    canvas {
        border: 1px solid red;
        width: 90%;
    }

    select {
        flex: none;
        width: 90%;
        font-size: 2em;
        text-align: center;
    }
}