$primaryColor: #6c3dd9;

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    // background-color: $primaryColor;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryColor;
    height: 50vh;
    width: 100%;

    cdc-qrcodereader {
        --size: 40vh
    }
}

div.pergunta {
    --radius: 30px;
    background-color: #FFFFFF;
    padding: 5vw;
    min-height: 300px;
    position: relative;
    flex-grow: 1;
    
    &:before {
        content: "";
        border-radius: var(--radius) var(--radius) 0 0;
        transform: translateY(calc(var(--radius) * -1));
        height: var(--radius);
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .overlay {
        color: #FFFFFF;
        background-color: #000000AA;
        position: absolute;
        inset: 0;
        margin: .25em;
        border-radius: var(--radius);
        padding: 1em;
    }

    h1 {
        font-size: 2em;
    }

    .alternativas {
        label {
            display: block;
            font-size: 1em;
            padding: 1vw;
            transition: .3s;

            input[type="radio"] {
                display: none;
            }

            &.checked {
                background-color: $primaryColor;
                color: #FFFFFF;
                border-radius: 5px;
                padding: 2vw;
            }
        }
    }
}